<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="educationCollege">
            <h2><span jhiTranslate="eLearningApp.educationCollege.detail.title">Education College</span> {{educationCollege.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eLearningApp.educationCollege.name">Name</span></dt>
                <dd>
                    <span>{{educationCollege.name}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/education-college-manage', educationCollege.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
