<div>
    <h2 id="page-heading">
        <span jhiTranslate="eLearningApp.teacher.home.title">Teachers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-teacher-manage" [routerLink]="['/teacher-manage/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="eLearningApp.teacher.home.createLabel">
            Create new Teacher
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="teachers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="eLearningApp.teacher.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="about"><span jhiTranslate="eLearningApp.teacher.about">About</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imageUrl"><span jhiTranslate="eLearningApp.teacher.imageUrl">Image Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="collegeYear"><span jhiTranslate="eLearningApp.teacher.collegeYear">College Year</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dob"><span jhiTranslate="eLearningApp.teacher.dob">Dob</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mobile"><span jhiTranslate="eLearningApp.teacher.mobile">Mobile</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="alternativeMobile"><span jhiTranslate="eLearningApp.teacher.alternativeMobile">Alternative Mobile</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="premium"><span jhiTranslate="eLearningApp.teacher.premium">Premium</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="active"><span jhiTranslate="eLearningApp.teacher.active">Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="languagesSpoken"><span jhiTranslate="eLearningApp.teacher.languagesSpoken">Languages Spoken</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="slug"><span jhiTranslate="eLearningApp.teacher.slug">Slug</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="premiumTill"><span jhiTranslate="eLearningApp.teacher.premiumTill">Premium Till</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="referenceCode"><span jhiTranslate="eLearningApp.teacher.referenceCode">Reference Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="signUpByReferenceCode"><span jhiTranslate="eLearningApp.teacher.signUpByReferenceCode">Sign Up By Reference Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="websiteURL"><span jhiTranslate="eLearningApp.teacher.websiteURL">Website URL</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="twitter"><span jhiTranslate="eLearningApp.teacher.twitter">Twitter</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="facebook"><span jhiTranslate="eLearningApp.teacher.facebook">Facebook</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="googlePlus"><span jhiTranslate="eLearningApp.teacher.googlePlus">Google Plus</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="linkedIn"><span jhiTranslate="eLearningApp.teacher.linkedIn">Linked In</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stripeCustomer.id"><span jhiTranslate="eLearningApp.teacher.stripeCustomer">Stripe Customer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.login"><span jhiTranslate="eLearningApp.teacher.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="address.id"><span jhiTranslate="eLearningApp.teacher.address">Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="college.name"><span jhiTranslate="eLearningApp.teacher.college">College</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let teacher of teachers ;trackBy: trackId">
                <td><a [routerLink]="['/teacher-manage', teacher.id, 'view' ]">{{teacher.id}}</a></td>
                <td>{{teacher.name}}</td>
                <td>{{teacher.about}}</td>
                <td>{{teacher.imageUrl}}</td>
                <td>{{teacher.collegeYear}}</td>
                <td>{{teacher.dob | date:'mediumDate'}}</td>
                <td>{{teacher.mobile}}</td>
                <td>{{teacher.alternativeMobile}}</td>
                <td>{{teacher.premium}}</td>
                <td>{{teacher.active}}</td>
                <td>{{teacher.languagesSpoken}}</td>
                <td>{{teacher.slug}}</td>
                <td>{{teacher.premiumTill | date:'mediumDate'}}</td>
                <td>{{teacher.referenceCode}}</td>
                <td>{{teacher.signUpByReferenceCode}}</td>
                <td>{{teacher.websiteURL}}</td>
                <td>{{teacher.twitter}}</td>
                <td>{{teacher.facebook}}</td>
                <td>{{teacher.googlePlus}}</td>
                <td>{{teacher.linkedIn}}</td>
                <td>
                    <div *ngIf="teacher.stripeCustomer">
                        <a [routerLink]="['../stripe-customer-manage', teacher.stripeCustomer?.id, 'view' ]" >{{teacher.stripeCustomer?.id}}</a>
                    </div>
                </td>
                <td>
                    {{teacher.user?.login}}
                </td>
                <td>
                    <div *ngIf="teacher.address">
                        <a [routerLink]="['../address-manage', teacher.address?.id, 'view' ]" >{{teacher.address?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="teacher.college">
                        <a [routerLink]="['../education-college-manage', teacher.college?.id, 'view' ]" >{{teacher.college?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/teacher-manage', teacher.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/teacher-manage', teacher.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'teacher-manage/'+ teacher.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="teachers && teachers.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
