<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cardExpiryReminder">
            <h2><span jhiTranslate="eLearningApp.cardExpiryReminder.detail.title">Card Expiry Reminder</span> {{cardExpiryReminder.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eLearningApp.cardExpiryReminder.userId">User Id</span></dt>
                <dd>
                    <span>{{cardExpiryReminder.userId}}</span>
                </dd>
                <dt><span jhiTranslate="eLearningApp.cardExpiryReminder.messageType">Message Type</span></dt>
                <dd>
                    <span>{{cardExpiryReminder.messageType}}</span>
                </dd>
                <dt><span jhiTranslate="eLearningApp.cardExpiryReminder.sendOnDate">Send On Date</span></dt>
                <dd>
                    <span>{{cardExpiryReminder.sendOnDate}}</span>
                </dd>
                <dt><span jhiTranslate="eLearningApp.cardExpiryReminder.isComplete">Is Complete</span></dt>
                <dd>
                    <span>{{cardExpiryReminder.isComplete}}</span>
                </dd>
                <dt><span jhiTranslate="eLearningApp.cardExpiryReminder.refData">Ref Data</span></dt>
                <dd>
                    <span>{{cardExpiryReminder.refData}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/card-expiry-reminder-manage', cardExpiryReminder.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
