<div>
    <h2 id="page-heading">
        <span jhiTranslate="eLearningApp.jobs.home.title">Jobs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-jobs-manage" [routerLink]="['/jobs-manage/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="eLearningApp.jobs.home.createLabel">
            Create new Jobs
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="jobs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="eLearningApp.jobs.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="runOn"><span jhiTranslate="eLearningApp.jobs.runOn">Run On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="type"><span jhiTranslate="eLearningApp.jobs.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cronExpress"><span jhiTranslate="eLearningApp.jobs.cronExpress">Cron Express</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isComplete"><span jhiTranslate="eLearningApp.jobs.isComplete">Is Complete</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="msg"><span jhiTranslate="eLearningApp.jobs.msg">Msg</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let jobs of jobs ;trackBy: trackId">
                <td><a [routerLink]="['/jobs-manage', jobs.id, 'view' ]">{{jobs.id}}</a></td>
                <td>{{jobs.name}}</td>
                <td>{{jobs.runOn | date:'mediumDate'}}</td>
                <td>{{jobs.type}}</td>
                <td>{{jobs.cronExpress}}</td>
                <td>{{jobs.isComplete}}</td>
                <td>{{jobs.msg}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/jobs-manage', jobs.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/jobs-manage', jobs.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'jobs-manage/'+ jobs.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="jobs && jobs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
