<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-article-manage-heading" jhiTranslate="eLearningApp.article.home.createOrEditLabel">Create or edit a Article</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!article.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="article.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eLearningApp.article.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="article.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eLearningApp.article.slug" for="field_slug">Slug</label>
                    <input type="text" class="form-control" name="slug" id="field_slug"
                        [(ngModel)]="article.slug" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eLearningApp.article.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                        [(ngModel)]="article.type" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eLearningApp.article.tagLine" for="field_tagLine">Tag Line</label>
                    <input type="text" class="form-control" name="tagLine" id="field_tagLine"
                        [(ngModel)]="article.tagLine" maxlength="100"/>
                    <div [hidden]="!(editForm.controls.tagLine?.dirty && editForm.controls.tagLine?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tagLine?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eLearningApp.article.categories" for="field_categories">Categories</label>
                    <input type="text" class="form-control" name="categories" id="field_categories"
                        [(ngModel)]="article.categories" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eLearningApp.article.active" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                        [(ngModel)]="article.active" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eLearningApp.article.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="article.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === article.user?.id ? article.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
