<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="quizAns">
            <h2><span jhiTranslate="eLearningApp.quizAns.detail.title">Quiz Ans</span> {{quizAns.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eLearningApp.quizAns.answers">Answers</span></dt>
                <dd>
                    <span>{{quizAns.answers}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/quiz-ans-manage', quizAns.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
